* {
    border: none;
    margin: 0;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.get-started {
    width: 100vw;
    height: 100vh;
    background: rgb(25, 25, 112);
    background: radial-gradient(circle, rgba(25, 25, 112, 1) 0%, rgba(0, 14, 23, 1) 100%, rgba(255, 255, 255, 1) 100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.get-started button {
    width: 100px;
    height: 50px;
    border-radius: 7%;
    border: none;
}

.get-started button:hover {
    width: 100px;
    height: 50px;
    border-radius: 7%;
    border: 1px solid black;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.container-header {
    background: rgb(186, 92, 69);
    background: linear-gradient(6deg, rgba(186, 92, 69, 1) 0%, rgba(0, 0, 0, 1) 100%, rgba(255, 255, 255, 1) 100%);
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2%;
    /* font-size: 1vw; */
}

.events {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 2% 0 2%;
}

.profile {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.profile-stats {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    font-size: 2vw;
}

.events-header {
    width: 30%;
    height: fit-content;
    left: 0;
}

.actualEvent {
    position: relative;
    width: 40%;
    height: 150px;
    border-radius: 16px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    background-color: red;
    cursor: ;
    padding:10px;
}

.delete {
    position: absolute;
    /* right: 10%;
    top:5%; */
    right: 23px;
    top: 15px;
    cursor: pointer;
}
.delete:hover{
    opacity: 0.5;
}
.line1 {
    position: absolute;
    width: 15px;
    height: 2px;
    background-color: yellow;
    transform: rotateZ(45deg);
}

.line2 {
    position: absolute;
    width: 15px;
    height: 2px;
    background-color: yellow;
    transform: rotateZ(320deg);
}

.dots {
    width: 20px;
    height:20px;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content:center;
    align-items:center;
    right: 20px;
    top: 15px;
    cursor: pointer;
    gap:1px;
}

.dots .dot {
    background-color: gray;
    width: 4px;
    height: 4px;
    border-radius: 50%;
}
.dropDown-options{
    position:absolute;
    display:none;
    margin-top:60px;
    margin-left:-20px;
    background-color:white;
    padding:10px;
    border-radius:5px;
    
}


/* .actualEvent:hover{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
} */

.nav {
    display: flex;
    gap: 20%;
    align-items: center;
}

.nav a {
    color: white;
}

.not-registered a {
    color: white;
}

.logo {
    color: rgb(255, 255, 255);
}

/* form sttyle */

.form-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(31, 255, 0);
    background: radial-gradient(circle, rgba(31, 255, 0, 1) 0%, rgba(0, 14, 23, 1) 100%, rgba(255, 255, 255, 1) 100%);
}

.form-container a {
    justify-content: start;
}

.form {
    width: fit-content;
    height: 40%;
    display: flex;
    flex-direction: column;
    gap: 2%;
    justify-content: center;
    align-items: center;
}

/* end of form style */

/* input styles */

input {
    width: 200px;
    border-radius: 20px;
    height: 40px;
    background-color: red;
    color: yellow;
    border: none;
    padding: 2px;
    text-align: center;
    transition: all 0.25s;
}

input::placeholder {
    color: yellow !important;
    font-size: 12px;
}

input:focus {
    /* color:black; */
    width: 250px;
    background-color: yellow;
    color: black;
    border: none;
    outline: none;
}

input:focus::placeholder {
    color: black;
}

.submit-box {
    width: 250px;
    text-align: right;
    padding: 4px;
}

.submit {
    text-align: center;
    width: 60px;
    height: 40px;
    border-radius: 5px;
    padding: 6px;
    margin-left: -5px;
    border: none;
    transition: all 0.5s;
    background-color: black;
    color: yellow;
    cursor: pointer;
}

.submit:hover {
    width: 70px;
    background-color: yellow;
    color: black;
}

/* end input style */

.user {
    display: flex;
    flex-direction: row-reverse;
}

.logged-in {
    display: flex;
    flex-direction: row;
    gap: 5px;
    color: white;
    justify-content: center;
    align-items: center;
}

.logged-in img {
    width: 31px;
    height: auto;
    border-radius: 60%;
}

.logged-in:nth-child(1) {
    /* color:red; */
    cursor: pointer;
}

.log-out {
    cursor: pointer;
    text-align: center;
    color: white !important;
    background-color: midnightblue;
    padding: 5px;
    border-radius: 3px;
}

.log-out:hover {
    background-color: gray;
}

.register {
    border-radius: 3px;
    padding: 5px;
    background-color: green;
    color: white!important;
    transition: all 0.5s;
}

.register:hover {
    background-color: white;
    color: green !important;
}

::-webkit-scrollbar {
    background-color: white;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: gray;
}

::-webkit-scrollbar-track {
    background-color: black;
}

@media only screen and (max-width:540px) {
    .container-header {
        font-size: 16px;
    }
    .actualEvent {
        width: 60%;
    }
}